<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Derek Repka</title>

<style>

body{
	background-color: lightblue;
}

h1 {
	color:white;
	background-color: red;
	text-align: center;
}

p {
	text-align: center;
	font-size: 16px;
	font-family: helvetica;
	color:darkmagenta;
}

</style>

</head>

<body>
  <h1 id="name">Name</h1>
  <p id="about">About</p>
  <p id="education">Education</p>
  <p id="skills">Skills</p>
  <p id="work">Work</p>
  <p id="contact">Contact</p>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
  $(window).on('load', function(){
     $.getJSON("http://162.246.157.227:8000/api/person/1/", function (data) {
          $("#name").text(data.data.attributes.name);
          $("#about").text(data.data.attributes.about);
          $("#education").text(data.data.attributes.education);
          $("#skills").text(data.data.attributes.skills);
	  $("#work").text(data.data.attributes.work);
	  $("#contact").text(data.data.attributes.contact);

	 });
  });
  </script>
</body>
</html>
